<h1>Burgers</h1>

<h2>Burgers to try</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <li>
                {{burger_name}} Cooked by: {{Cook.cook_name}}
                <label for="customer_name">To be consumed by:</label>
                <input type="text" id="customer_name" name="customer_name">
                <button class="change_devoured" data-id="{{id}}">
                    Devour it!
                </button>

            </li>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers eaten</h2>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            <li>
            {{burger_name}} Cooked by: {{Cook.cook_name}} Consumed by:{{Customer.customer_name}}
            </li>
        {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form id="create-form">
    <div class="form-group">
        <label for="burger_name">Burger Name:</label>
        <input type="text" id="burger_name" name="burger_name">
        <label for="cook_name">Cooked by:</label>
        <input type="text" id="cook_name" name="cook_name">
    </div>
    <button type="submit">Add Burger</button>
</form>